model_list:
  # OpenAI
  - model_name: openai/*
    litellm_params:
      model: openai/*
      api_key: "os.environ/OPENAI_API_KEY"
      api_base: "os.environ/OPENAI_API_BASE"
  - model_name: openai/gpt-5-priority
    litellm_params:
      model: openai/gpt-5
      api_key: "os.environ/OPENAI_API_KEY"
      api_base: "os.environ/OPENAI_API_BASE"
      service_tier: "priority"

  # Anthropic
  - model_name: anthropic/claude-sonnet-4-20250514
    litellm_params:
      model: anthropic/claude-sonnet-4-20250514
      api_key: "os.environ/ANTHROPIC_API_KEY"
      api_base: "os.environ/ANTHROPIC_API_BASE"
      thinking: { "type": "enabled", "budget_tokens": 8192 }
      max_tokens: 32768
  - model_name: anthropic/*
    litellm_params:
      model: anthropic/*
      api_key: "os.environ/ANTHROPIC_API_KEY"
      api_base: "os.environ/ANTHROPIC_API_BASE"

  # Gemini
  - model_name: google/gemini-2.5-pro
    litellm_params:
      model: gemini/gemini-2.5-pro
      api_key: "os.environ/GEMINI_API_KEY"
      api_base: "os.environ/GEMINI_API_BASE"
      tools:
        - googleSearch: {}
      extra_headers:
        x-goog-api-key: "os.environ/GEMINI_API_KEY"
  - model_name: google/gemini-2.5-flash
    litellm_params:
      model: gemini/gemini-2.5-flash
      api_key: "os.environ/GEMINI_API_KEY"
      api_base: "os.environ/GEMINI_API_BASE"
      tools:
        - googleSearch: {}
      extra_headers:
        x-goog-api-key: "os.environ/GEMINI_API_KEY"
  - model_name: google/gemini-2.5-flash-lite
    litellm_params:
      model: gemini/gemini-2.5-flash-lite
      api_key: "os.environ/GEMINI_API_KEY"
      api_base: "os.environ/GEMINI_API_BASE"
      tools:
        - googleSearch: {}
      extra_headers:
        x-goog-api-key: "os.environ/GEMINI_API_KEY"

  # Perplexity
  - model_name: perplexity/sonar-pro
    litellm_params:
      model: perplexity/sonar-pro
      api_key: "os.environ/PERPLEXITY_API_KEY"
      api_base: "os.environ/PERPLEXITY_API_BASE"

general_settings:
  master_key: "os.environ/LITELLM_MASTER_KEY"

router_settings:
  model_group_alias:
    gemini-2.5-pro: gemini/gemini-2.5-pro
    gemini-2.5-flash: gemini/gemini-2.5-flash
